{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <div class="list-group">
        {% for game in games %}
        <a href="/games/{{game.id}}" class="list-group-item list-group-item-action">
          <span>#{{game.id}}</span>
          <span class="float-right">Min: {{game.small}}, Max: {{game.big}}</span>
        </a>
        {% endfor %}
        <div class="list-group-item list-group-item-action">
          <form action="/games" method="post" class="form-inline">
            <input type="submit" class="btn btn-primary mr-2" value="New Game">
            <input id="small-blind" class="form-control col-sm-4 mr-2" type="text" name="small" placeholder="Small Blind" required>
            <input id="big-blind" class="form-control col-sm-4" type="text" name="big" placeholder="Big Blind" required>
            <input name="__anti-forgery-token" value="{{ csrf-token }}" hidden />
          </form>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
{% endblock %}
